/* You can add global styles to this file, and also import other style files */
@use './tailwind.css';
@use './assets/layout/layout.scss';
@use 'primeicons/primeicons.css';
@use './assets/demo/demo.scss';


input-error-color {
    color: red;
}

input-error-background {
    background-color: red;
}

input-error-border{
    border: red 2px solid;
}
/* styles.css or styles.scss */

/* Custom styles */
.calendar-event {
  border-radius: 4px;
  font-size: 14px;
}

.calendar-header {
  background-color: #f0f0f0;
  padding: 10px;
  text-align: center;
}

@import '../node_modules/angular-calendar/css/angular-calendar.css';
/* Custom CSS for the confirm dialog buttons */
.custom-accept-delete-button {
    background-color: #dc3545 !important; /* Red color for the "Accept" (Delete) button */
    border-color: #dc3545 !important;
}

.custom-reject-button {
    background-color: #2b2a2a !important; /* Blue color for the "Reject" (Cancel) button */
    border-color: #ffffff !important;
}

.my-slot-class {
    
  }
  .my-event-class {
    background-color: #ffcc00;
    color: #000;
  }
  .my-view-class{
     height: 70vh;
  }
  
  .my-allDay-class{

.my-slotLabel-class{
    
}}